body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50pxs;
}
.orange-color {
  color: orange;
}

.flexible-section {
  display: flex;
  margin-bottom: 100px;
}

img {
  width: 80%;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.here-me-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  color: white;
  font-size: 700;
  padding: 10px 20px;
  border-radius: 5%;
}
.background-img {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.expe-headind {
  font-size: 50px;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.experience-item {
  width: 40%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}

#web-dev-expe {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
#full-sstack-expe {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
